@model Web.ViewModel.OrderDetailViewModel
<style type="text/css">
    .errorMessage {
        color: red;
    }
</style>
<hr />
@if (String.IsNullOrEmpty(ViewBag.ErrMsg))
{
    <h2>詳細資料</h2>
<div id="divDetail">

    <form>
        <div class="form-horizontal">
				<div class="form-group">
                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.SupplierID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.SupplierID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.QuantityPerUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.ProductUnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ProductUnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.UnitsOnOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UnitsOnOrder, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.ReorderLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ReorderLevel, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
				<div class="form-group">
                @Html.LabelFor(model => model.Discontinued, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Discontinued, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </form>
</div>
}
else{
<div class="errorMessage">
    查詢發生錯誤：@ViewBag.ErrMsg
</div>
}




